In [1]:
import pandas as pd

## Create

#### There are two core objects in pandas: the DataFrame and the Series

### DataFrame:  

##### A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column

In [9]:
custom_dataFrame =  pd.DataFrame({'Yes': [50, 21, 56], 'No': [131, 2, 94], 'Maybe':[15, 9, 11]})
custom_dataFrame

   Yes   No  Maybe
0   50  131     15
1   21    2      9
2   56   94     11

##### We can add custom index parameter using index field

In [10]:
custom_dataFrame01 = pd.DataFrame({'Rohit': ['I liked it.', 'It was awful.'],
                            'Mohit': ['Pretty good.', 'Bad.'],
                           'Isha': ['Vely vely good', 'Awwwchm']},
                           index=['Product ABC', 'Product XYZ'])
custom_dataFrame01

                     Rohit         Mohit            Isha
Product ABC    I liked it.  Pretty good.  Vely vely good
Product XYZ  It was awful.          Bad.         Awwwchm

### Series:
##### A Series is a sequence of data values. If a DataFrame is a table, a Series is a list

In [14]:
custom_series = pd.Series([1, 2, 3, 4, 5, 6, 7])
custom_series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

##### We can assign row labels to the Series the same way as before, using an index parameter. We can give name to Series using name parameter

In [15]:
custom_series01 = pd.Series([230, 305, 400, 302],
                            index=['Jan', 'Feb', 'Mar', 'Apr'],
                            name='Monthly electricity consumption')
custom_series01

Jan    230
Feb    305
Mar    400
Apr    302
Name: Monthly electricity consumption, dtype: int64

## Read

##### Most commonly stored dataset format is CSV (comma separated values) files. We can read data from CSV files using read_csv("file_name")

In [28]:
disaster_data = pd.read_csv("Natural_Disasters_in_India.csv")
disaster_data.head()

,Unnamed: 0,Title,Duration,Year,Disaster_Info,Date
0,0,1990 Andhra Pradesh cyclone,4 May,1990,the andhra pradesh cyclone or the machilipat...,1990-05-04
1,1,Indian Airlines Flight 605,14 February,1990,indian airlines flight was a scheduled domest...,1990-02-14
2,3,1991 Uttarkashi earthquake,20 October,1991,the uttarkashi earthquake also known as the g...,1991-10-20
3,4,1992 India–Pakistan floods,7 September,1992,the india–pakistan floods was a deadliest flo...,1992-09-07
4,5,Mahamaham stampede,18 February,1992,mahamaham stampede was a disaster that occurre...,1992-02-18

In [30]:
disaster_data.shape

(207, 6)

## Write

##### We use dataFremeName.to_csv("CSV_FileName.csv") to write data to csv file. This creates new csv  file CSV_FileName

In [32]:
custom_dataFrame.to_csv("customDataFile.csv")